/* ==========================
   MOVIE DETAILS
========================== */

.movie-info-container {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.movie-poster-section {
  flex: 0 0 340px;
}

.details-poster {
  width: 100%;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0,0,0,.45);
}

.movie-content {
  flex: 1;
}

.movie-content h1 {
  font-size: 54px;
  margin-bottom: 20px;
}

.movie-meta {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
  font-size: 18px;
  color: #d5d5d5;
}

.movie-genre {
  display: inline-block;
  background: #ff4d6d;
  color: white;
  padding: 10px 18px;
  border-radius: 30px;
  margin-bottom: 30px;
  font-size: 15px;
}

.movie-details-list p {
  margin-bottom: 15px;
  font-size: 18px;
  color: #d8d8d8;
}

.movie-details-list strong {
  color: white;
}

.movie-content h3 {
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 30px;
}

.movie-plot {
  color: #c9c9c9;
  line-height: 1.8;
  font-size: 17px;
  max-width: 850px;
}

@media (max-width: 900px) {
  .movie-info-container {
    flex-direction: column;
  }

  .movie-poster-section {
    width: 300px;
    margin: auto;
  }

  .movie-content h1 {
    font-size: 38px;
  }

  .movie-meta {
    flex-wrap: wrap;
    gap: 15px;
  }
}

/* ==========================
   CAST SECTION
========================== */

.cast-section {
    margin-top: 80px;
}

.cast-section h2 {
    font-size: 34px;
    margin-bottom: 35px;
}

/* Horizontal Scroll */

.cast-container {

    display: flex;

    gap: 25px;

    overflow-x: auto;

    overflow-y: visible;

    padding: 20px 0 20px;

    scrollbar-width: none;
}

.cast-container::-webkit-scrollbar {
    display: none;
}

/* Card */

.cast-card {

    width: 190px;
    min-width: 190px;

    background: #181b25;

    border-radius: 20px;

    padding: 30px 20px;

    text-align: center;

    border: 1px solid rgba(255,255,255,.08);

    transition: all .35s ease;

    flex-shrink: 0;
}

.cast-card:hover{

    transform: translateY(-5px);

    border-color:#ff4d6d;

    box-shadow:0 15px 35px rgba(0,0,0,.35);

}

/* Avatar */

.cast-avatar{

    width:100px;
    height:100px;

    margin:auto;

    border-radius:50%;

    background:linear-gradient(135deg,#ff4d6d,#ff7b92);

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:48px;

    margin-bottom:20px;
}

.cast-card h4{

    color:#fff;

    font-size:20px;

    line-height:1.35;

    margin-bottom:8px;

    white-space:normal;

    word-break:break-word;
}

.cast-card p{

    color:#9b9b9b;

    font-size:15px;
}