.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
}

.movie-card {
    background: #181b25;
    border-radius: 15px;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
}

.movie-card:hover {
    transform: translateY(-8px);
}

.movie-poster {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.movie-info {
    padding: 18px;
}

.movie-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.movie-info p {
    color: #bdbdbd;
    margin-bottom: 10px;
}

.movie-type {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    background: #ff4d6d;
    font-size: 13px;
    text-transform: capitalize;
}

.details-btn {
    width: 100%;
    margin-top: 18px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ff4d6d;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}

.details-btn:hover {
    background: #ff2d59;
}