@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.navbar{
  box-sizing: border-box;
    width:100%;
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 70px;
    background:#12111d;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    font-family:'Poppins',sans-serif;
    animation: navDown .8s ease forwards;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 90px;
    width: auto;
    object-fit: contain;
    display: block;
}

.nav-links{
    display:flex;
    gap:45px;
    list-style:none;
}

.nav-links li{
    color:white;
    font-size:17 px;
    cursor:pointer;
    transition:.3s;
}

.nav-links li:hover{
    color:#ff4d6d;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #ff4d6d;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.language{
    background:#1f1d2b;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:6px;
}

.signin-btn{
    background:#ff4d6d;
    color:white;
    border:none;
    padding:10px 22px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.signin-btn:hover{
    background:#ff2e56;
}
@keyframes navDown{
    from{
        opacity:0;
        transform:translateY(-40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* =========================================
   USER NAVBAR
========================================= */

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
   transform: translateY(-2px);
}


/* =========================================
   WISHLIST
========================================= */

.wishlist-btn {
  background: transparent;

  border: none;

  color: #ffffff;

  font-size: 17px;

  font-weight: 500;

  cursor: pointer;

  padding: 10px 5px;

  transition: color 0.2s;
}

.wishlist-btn:hover {
  color: #ff3f68;
}


/* =========================================
   ACCOUNT
========================================= */

.account-btn {
  display: flex;

  align-items: center;

  gap: 8px;

  background: transparent;

  border: none;

  color: #ffffff;

  font-size: 17px;

  font-weight: 500;

  cursor: pointer;

  padding: 10px 5px;

  transition: color 0.2s;
}

.account-btn:hover {
  color: #ff3f68;
}


/* Account icon */

.account-icon {
  font-size: 18px;
}